.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
